/* สไตล์สำหรับความสูงเท่ากับความสูงของหน้าจอ */
.h-screen {
    height: 100vh;
}

/* สไตล์สำหรับความกว้างเท่ากับความกว้างของหน้าจอ */
.w-screen {
    width: 100vw;
}

/* สไตล์สำหรับความกว้างเต็มหน้าจอ */
.w-full {
    width: 100%;
}

/* สไตล์ขนาดตัวอักษรเล็ก */
.text-sm {
    font-size: 14px;
}

/* สไตล์ขนาดตัวอักษรปานกลาง */
.text-md {
    font-size: 16px;
}

/* สไตล์ขนาดตัวอักษรใหญ่ */
.text-lg {
    font-size: 18px;
}

/* สไตล์ขนาดตัวอักษรใหญ่พิเศษ */
.text-xl {
    font-size: 20px;
}

/* สไตล์ขนาดตัวอักษรใหญ่พิเศษไข่ดาว */
.text-2xl {
    font-size: 24px;
}

/* สไตล์ขนาดตัวอักษรใหญ่พิเศษไข่ดาวไม่สุก */
.text-3xl {
    font-size: 30px;
}

/* สไตล์เส้นขอบ */
.border {
    border-width: 1px;
}

/* สไตล์มุมโค้ง */
.br-1 {
    border-radius: 4px;
}