:root {
    --color-primary: #1278e6;
    --color-secondary: #e6b412;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

bg-error {
    background-color: #FF0000; 
}

.bg-warning {
    background-color: #A2840E;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-black {
    background-color: #000000;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secondary {
    color: var(--color-secondary);
}

.text-black {
    color: #000000;
}

.text-white {
    color: #FFFFFF;
}

.border-primary {
    border-color: var(--color-primary);
}

.border-secondary {
    border-color: var(--color-secondary);
}

